main {
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
  display: flex;
  justify-content: center;
  background-color: #f6f6f6;
}

header {
  font-size: 0.6rem;
  padding-left: 0.5rem;
}

/*  
@media screen and (min-width: /786/992px) {


*/

.container {
  _border: 2px solid black;
  width: 15rem;
  height: 30rem;
  border-radius: 1rem;
  margin: 2rem 1.5rem;
  padding-bottom: 0.6rem;

  background-color: white;

  /* background-image: url(https://camo.githubusercontent.com/386948ec10cc7166718d9ec43783e3f176fe8043abad15775d23eade78196b5b/68747470733a2f2f696d616765732e756e73706c6173682e636f6d2f70686f746f2d313536303037323831302d3163666662303966616630663f697869643d4d6e77784d6a4133664442384d48787761473930627931775957646c664878386647567566444238664878382669786c69623d72622d312e322e31266175746f3d666f726d6174266669743d63726f7026773d3134373026713d3830);
  background-size: 100% 35%;
  background-repeat: no-repeat; */
}

.second-container {
  _border: 2px solid black;
  width: 15rem;
  height: 30rem;
  border-radius: 1rem;
  margin: 2rem 1.5rem;
  padding-bottom: 0.6rem;

  background-color: white;
}

.third-container {
  _border: 2px solid black;
  width: 15rem;
  height: 30rem;
  border-radius: 1rem;
  margin: 2rem 1.5rem;
  padding-bottom: 0.6rem;

  background-color: white;
}

.text {
  font-size: 0.7rem;
  color: gray;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

img {
  height: 35%;
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.box {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;

  border-radius: 0.5rem;
  margin-left: 0.6rem;
  margin-right: 0.6rem;
  margin-bottom: 0.6rem;
  _padding-bottom: 0.5rem;
}

.price {
  font-size: 0.9rem;
  text-align: center;
  background-color: white;

  border-radius: 0.25rem;
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.selections {
  font-size: 0.8rem;
  color: gray;
  display: grid;
  grid-template-columns: 1fr 1fr;

  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}

.colors {
  font-size: 0.8rem;
  color: gray;
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  margin: 0.5rem;
}

button {
  background-color: #4169e1;
  border: none;
  border-radius: 0.25rem;

  padding: 0.5rem;
  color: white;
  /* margin-top: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem; */
  margin: 0.5rem;
}

input[type="radio"] {
  all: unset;
  position: absolute;
}

.color {
  width: 25px;
  height: 25px;
  display: inline-block;
  border-radius: 50%;
}

.blue {
  background-color: #00008b;
}

.red {
  background-color: #dc143c;
}

.black {
  background-color: black;
}

.greenblack {
  background-image: linear-gradient(to right, #6b8e23 50%, black 50%);
}

.blueblack {
  background-image: linear-gradient(to right, #4682b4 50%, black 50%);
}

.blackpink {
  background-image: linear-gradient(to right, #db7093 50%, black 50%);
}

.redwhite {
  background-image: linear-gradient(to right, red 50%, white 50%);
}

.blackwhite {
  background-image: linear-gradient(to right, black 50%, white 50%);
}

.aside-info {
  position: absolute;

  font-size: 0.6rem;
  background-color: #d3d3d3;
  border-radius: 0.25rem;
  padding: 0.5em;
}
